
<ion-view cache-view="false" view-title="Requests Overview" > 

  <ion-content data-tap-disabled="true">

    <ui-gmap-google-map 
      center='map.center' 
      zoom='map.zoom' 
      events="map.markersEvents"
      draggable="true" 
      options="options" 
      bounds="map.bounds">
      
        <ui-gmap-marker 
          coords="marker.coords" 
          options="marker.options" 
          events="marker.events" 
          idkey="marker.id" >
        </ui-gmap-marker>

        <ui-gmap-marker 
          coords="carParkmarker.coords" 
          options="carParkmarker.options" 
          events="carParkmarker.events" 
          idkey="3" >
        </ui-gmap-marker>

        <ui-gmap-markers
          models  = "allMarkers"
          coords  = "'self'"
          icon    = "'icon'"
          fit     = "false"
          doRebuildAll="true"
          click  =  "clickPin()">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>
              SELECTED
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>


        <ui-gmap-polyline 
          ng-repeat="p in polylines" 
          path="p.path" 
          stroke="p.stroke" 
          visible='p.visible'
          geodesic='p.geodesic' 
          fit="true" 
          editable="p.editable" 
          draggable="p.draggable" 
          icons="p.icons">
        </ui-gmap-polyline>

    </ui-gmap-google-map>

        

  </ion-content>
  


<!-- card show -->
  <div style="position: absolute; bottom: 0px; width: 100%">
    <div class="card" id="currentLocation" ng-cloak ng-show="currentLocation.title == 'Pick up ticket'  ">
      <div class="item item-divider topDivPickUp" >
        {{currentLocation.title}} : {{currentLocation.id}}
      </div>
      <div class="item item-text-wrap userDetailAtHome">
        Client: {{currentLocation.name}}<br>
        Transmission: {{currentLocation.transmission}}<br>
        Phone: <a href="tel:+852{{currentLocation.phone}}">{{currentLocation.phone}}</a><br>
        Address: {{currentLocation.location}}<br>
        EST.distance / time: {{currentLocation.distanceEST}} / {{currentLocation.timeEST}}
      </div>
      <button class="button button-small button-assertive buttonDetail" ng-click="currentLocation = false">BUSY</button>
      <button class="button button-small button-calm buttonDetail"ng-click="valetReply()" >ACCEPT</button>
    </div>
  </div>

  <div style="position: absolute; bottom: 0px; width: 100%">
    <div class="card" id="currentLocation" ng-cloak ng-show="currentLocation.title == 'Drop off ticket'  ">
      <div class="item item-divider topDivDropOff" >
        {{currentLocation.title}} : {{currentLocation.id}}
      </div>
      <div class="item item-text-wrap userDetailAtHome">
        Client: {{currentLocation.name}}<br>
        Transmission: {{currentLocation.transmission}}<br>
        Phone: <a href="tel:+852{{currentLocation.phone}}">{{currentLocation.phone}}</a><br>
        Carpark: {{currentLocation.p_location | limitTo : 35}}<br>
        Drop off address: {{currentLocation.location | limitTo : 31}}<br>
        EST.distance / time (from car park to client): {{currentLocation.distanceEST}} / {{currentLocation.timeEST}}
      </div>
      <button class="button button-small button-assertive buttonDetail" ng-click="currentLocation = false">BUSY</button>
      <button class="button button-small button-calm buttonDetail"ng-click="valetReplyDrop()" >ACCEPT</button>
    </div>
  </div>
  

    



  

   
</ion-view>


